/*@font-face{

font-family: 'Starjout';
src: url('/fonts/Starjout.ttf') format('truetype'),

font-weight: normal;

font-style: normal;

}
@font-face{

font-family: 'Stars';
src: url('/fonts/StarjediSpecialEdition-9Bqy.ttf') format('truetype'),

font-weight: normal;

font-style: normal;

}*/

html {
    scroll-behavior: smooth;
}

p {
    letter-spacing: 2px;
}

body, a, h1, p {
    margin: 0;
    font-family: 'Anton', sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: #010000;
    position: absolute;
}

section {
    overflow: hidden;
}

.header_content {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    list-style: none;
}

.logo {
    padding: 0 50px;
    height: 70px;
    width: 70px;
}

nav {
    display: flex;
    width: 300px;
    left: 50%;
    height: 25px;
    transform: translateX(-50%);
    position: absolute;
    justify-content: space-between;
}

nav a {
    color: white;
}

nav a:hover {
    color: wheat;
    border-bottom: 2px solid wheat;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    padding: 0 30px;
}

.about img {
    height: auto;
    width: 100%;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background-color: #010000;
    opacity: 1;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 99999;
    border-radius: 50px;
    max-width: 1440px;
    margin: 0 auto;
}

/**/

.about {
    padding-top: 100px
}

.container_item {
    padding: 100px;
    text-align: center;
}

.container_item.img {
    height: 1080px;
}

.wall {
    position: relative;
    height: 100%;
    width: 100%;
}

/**/

.wall::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/Comp_1_2.gif) round;
    animation: transform 15s infinite;
}

@keyframes transform {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/**/

.info {
    height: 100%;
}

.container_image-content img {
    object-fit: cover;
    max-width: 100%;
    height: 300px;
}

.container_image-content ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_image-content li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    width: 450px;
    height: 300px;
}

.descr {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    opacity: 0;
    transition: all .5s;
}

.descr a {
    letter-spacing: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: wheat;
}

.descr a::before, .descr a::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 15%;
    height: 3px;
    background: tomato;
    transition: .5s;
}

.descr a::before {
    left: 49%;
}

.descr a::after {
    right: 49%;
}

.descr a:hover::before, .descr a:hover::after {
    width: 57%;
}

.container_image-content {
    display: flex;
    justify-content: center;
    margin: 50px 0 130px 0;
}

.container_image-content li:hover .descr {
    opacity: 1;
    background-color: rgba(0, 0, 0, .6);
}

.main-h {
    margin: 50px 0 50px 0;
    text-align: center;
}

h3 {
    text-align: center;
}

/**/

.space {
    position: relative;
    width: 100%;
    height: 650px;
    background: black;
}

.container-content {
    overflow: hidden;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 650px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    padding-top: 650px;
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
}

.crawl>.title {
    font-size: 90%;
    text-align: center;
}

.crawl>.title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.spaceAnim {
    animation: crawl 60s linear infinite;
}

/** **/

.container_content-video {
    height: 600px;
}

/* Слайдер */

.slider {
    position: relative;
    /* padding: 0 60px !important; */
}

.slider__item {
    transition: all 0.9s ease 0s;
    opacity: 0.4;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.slider__item .height-img {
    height: 400px;
    max-width: 350px;
    object-fit: cover;
}

.slider__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item.slick-center {
    opacity: 1;
}

.slider__item.slick-slide.slick-center .height-img {
    max-width: 500px !important;
    height: 500px !important;
    object-fit: cover;
}

.slider__item.slick-slide.slick-center .svg__play img {
    height: 150px;
}

.slick-slider {}

/* Слайдер запущен */

.slick-slider.slick-initialized {}

/* Слайдер с точками */

.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */

.slick-list {
    height: 100%;
    padding: 0 !important;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* Лента слайдов */

.slick-track {
    display: flex;
}

/* Слайд */


/* Слайд активный (показывается) */

.slick-slide.slick-active {}

/* Слайд основной */

.slick-slide.slick-current {}

/* Слайд по центру */

.slick-slide.slick-center {}

/* Клонированный слайд */

.slick-slide.slick-cloned {}

/* Стрелка */

.slick-arrow {
    margin-top: -30px;
    position: absolute;
    z-index: 100;
    top: 50%;
    font-size: 0;
    width: 48px;
    height: 48px;
    border: 0;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
    left: -10px;
    background: url('images/left.svg') 0 0/100% no-repeat;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
    right: -10px;
    background: url('images/right.svg') 0 0/100% no-repeat;
}

/* Стрелка не активная */

.slick-arrow.slick-disabled {}

/* Точки (булиты) */

.slick-dots {}

.slick-dots li {}

/* Активная точка */

.slick-dots li.slick-active {}

/* Элемент точки */

.slick-dots li button {}

.svg__play {
    position: absolute;
}

.svg__play img {
    height: 100px;
}

/**/

.footer {
    height: 80px;
    background: #000000
}

.footer h2 {
    text-align: center;
    color: white;
}
.hide{
    display: none;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition:  all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__content {
    background-color: rgb(0, 0, 0);
    color: black;
    max-width: 1000px;
    width: 100%;
    position: relative;
}

.popup__video {
    width: 100%;
    height: 600px;
}

.popup__video iframe {
    width: 100%;
    height: 100%;
}

.popup__close {
    font-size: 25px;
    position: absolute;
    right: 10px;
    font-weight: 600;
    color: #f00;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.popup__title {
    padding: 10px;
    text-align: center;
    color: white
}

@media screen and (max-width: 1344px) {
    .slider{
        width: 100%;
        margin: 0 auto;
    }
    .slider__item {
        overflow: hidden;
        opacity: 1;
    }
    .slick-slide {
        width: 1140px !important;
    }
    .slider__item img {
        max-width: 800px;
        height: 500px;
    }
    /* .slick-track {
        height: 100%;
        display: flex;
        justify-content: center;
    } */
    /* .slick-list {
        height: 500px;
    } */
    .svg__play img {
        height: 60px;
    }
    .popup__body{
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }
    .popup__content{
        height: 500px;
    }
    .popup__video{
        height: 100%;
    }
    .popup__video iframe {
        width: 100%;
        height: 100%;
    }
    .descr a {
        letter-spacing: 5px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        color: wheat;
    }
    
    .descr a::before, .descr a::after {
        content: '';
        position: absolute;
        top: 100%;
        width: 15%;
        height: 3px;
        background: tomato;
        transition: .5s;
    }
    
    
    .container_image-content {
        margin: 50px 0 130px 0;
    }
    
    .container_image-content li .descr {
        opacity: 1;
        background-color: rgba(0, 0, 0, .6);
    }
    .container_item.img{
        height: 480px;
    }
    
}
@media screen and (max-width: 660px) {
    .container_item.img{
        height: 240px;
    }
    .slider{
        width: 100%;
        margin: 0 auto;
    }
    .logo{
        display: none;
    }
    .container{
        padding: 0;
    }
    .container_content-video {
        height: 600px;
        padding: 0 10px;
    }
    .popup__content{
        height: 400px;
    }
    .popup__video {
        width: 100%;
        height: 100%;
    }

}
